.message {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .message.sent {
    background-color: #f5d7d7;
    padding-right: 20px;
    text-align: right;
  }
  
  .message.received {
    background-color: rgba(20,63,107, 0.1);
    padding-left: 20px;
    text-align: left;
  }
  
  .message-container {
    height: calc(100% - 64px);
    overflow: auto;
    background-color: #f5f5f5;
  }
  
  .chat-form {
    position: fixed;
    bottom: 0;
    width: 70%; 
    display:flex;
    justify-content: space-between; /* this will make sure the input and button are on the same line */
}

.chat-form-input {
    flex-grow:1;
    height: 30px;
    margin-right: 10px;
}

.chat-form-submit {
    width: 40px;
    height: 35px;
}

  .chat-message-container{
    padding: 6px 8px 8px 9px;
  }

  .message-content {
    margin: 0;
    }
    
    .sent-by {
    font-size: small;
    margin: 0;
    }
    
    .sent-at {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
    }